parameters:
    level: 6
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    ignoreErrors:
        -
          message: '#expects .*Collection<\(int\|string\), object>, .*ArrayCollection<int, Doctrine.*Entity> given#'
          path: tests/DoctrineObjectTest.php
        -
          message: '#Unable to resolve the template type T in call to method Doctrine\\Laminas\\Hydrator\\DoctrineObject::tryConvertArrayToObject\(\)#'
          path: src/DoctrineObject.php
